[Unit]
Description=MAP-E Provisioning Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/mape-provisioning-server
WorkingDirectory=/usr/local/bin
User=root
Restart=always

[Install]
WantedBy=multi-user.target
