;
; BIND data file for map.ocn.ad.jp
;
$TTL    604800
@       IN      SOA     ns.map.ocn.ad.jp. root.map.ocn.ad.jp. (
                              4         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache Number
;
@       IN      NS      ns.map.ocn.ad.jp.

; プロビジョニングサーバーの IPv4（BRアドレスを流用）と IPv6
@       IN      A       ${BR_IPV4_ADDR}
@       IN      AAAA    ${MAPE_PROV_IP}

; DNS自身のIPアドレス
ns      IN      AAAA    ${MAPE_DNS_IP}

; ワイルドカードでの一括誘導
* IN      A       ${BR_IPV4_ADDR}
* IN      AAAA    ${MAPE_PROV_IP}

; -----------------------------------------------------------------------------
; CE (IPoE MAP-E) クライアント個別 DDNS レコード
; -----------------------------------------------------------------------------
; FortiGate-80F (VLAN 845, 192.168.2.1, PSID: 215 / 0xd7)
ce-192.168.2.1   IN      A       192.168.2.1
ce-192.168.2.1   IN      AAAA    2400:4150:2000:200:c0:a802:100:d700
ce-192.168.2.1   IN      TXT     "updated=2026-09-04T21:22:00+09:00"

; その他 CE クライアント
ce-192.168.0.134 IN      A       192.168.0.134
ce-192.168.0.134 IN      AAAA    2400:4150:2000:0:c0:a800:8600:0

ce-192.168.222.70 IN     A       192.168.222.70
ce-192.168.222.70 IN     AAAA    2400:4150:2000:300:c0:a8de:4600:0

