;
; BIND data file for v6connect.net
;
$TTL    604800
@       IN      SOA     ns.v6connect.net. root.v6connect.net. (
                              2         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache Number
;
@       IN      NS      ns.v6connect.net.

; プロビジョニングサーバーのA / AAAAレコード
@       IN      A       ${BR_IPV4_ADDR}
@       IN      AAAA    ${MAPE_PROV_IP}

ns      IN      AAAA    ${MAPE_DNS_IP}

; ワイルドカードによる一括誘導
* IN      A       ${BR_IPV4_ADDR}
* IN      AAAA    ${MAPE_PROV_IP}
